<div class="col">
  <div class="card mt-2 rounded-3 shadow-sm border-dark">
    <div class="card-header">
      <a href="/races/{{ .Id }}" class="text-decoration-none" data-turbo-frame="races" data-turbo-action="advance">
        <span class="fs-4 text-white">{{ .Name }}</span>
      </a>
    </div>
    <div class="card-body">
      <div class="container m-0">
        <div class="row">
          <div class="col-auto">
            {{ template "lights.partial.html" .StatusColor }}
          </div>
          {{- range .Drivers -}}
          <div class="col-auto">
            {{ template "rankicon.partial.html" .Rank }}
            <turbo-frame id="driver-{{ .Id }}" src="/drivers/{{ .Id }}/icon">
            </turbo-frame>
          </div>
          {{- end -}}
        </div>
      </div>
    </div>
  </div>
</div>